body {
  font-family: 'Noto Sans JP', sans-serif;
}

/* COLOR PICKER UI */

#color-parent {
  text-align: center;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
}

#color-parent button {
  background: none;
  padding: 0px;
  border: none;
}

#color-parent button img {
  width: 18px;
  height: 18px;
  background-color: #222222;
  filter: none;
  border-radius: 7px;
  padding: 5px;
}

#color-label {
  text-transform: uppercase;
  width: 100%;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  user-select: all;
}

input[type='color'] {
  width: 20vw;
  height: 40px;
  padding: 0px;
  border-radius: 0px;
  background: none;
  border: none;
}

#feature-update {
  width: 100%; 
  margin: -5px 0px 8px;
}

#feature-switcher {
  position: absolute;
  width: 200px;
  max-width: 80vw;
  bottom: 0;

  left: 50%;
  transform: translateX(-50%);

  border-radius: 15px 15px 0px 0px;
  background: white;
  padding: 15px 20px 0px 20px;
  z-index: 1;
}

#feature-switcher span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#feature-switcher h3 {
  margin: 5px 0px;
  font-size: 20px;
  text-transform: uppercase;
}

#feature-switcher img {
  display: block;
  height: 30px;
  width: 30px;
  /* change SVG color here: https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(58%) sepia(24%) saturate(5348%) hue-rotate(156deg) brightness(88%) contrast(101%);
}

#feature-show {
  width: 50px; 
  margin: 0;
}

/* AR SCENE UI */

#top-section {
  position: absolute;
  width: fit-content;
  max-width: 80vw;

  left: 50%;
  transform: translateX(-50%);

  padding: 10px 30px;
  z-index: 1;
}

#top-section button {
  padding: 10px 20px;
  background-color: #5AD6FF;
  border-radius: 50px;
  border: none;
  outline: none;
  
  font-size: 18px;
  font-weight: bold;
  color: white;
}

#slider-section {
  position: absolute;
  display: flex;
  gap: 10px;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 1;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  text-shadow: 0px 0px 4px rgb(0 0 0 / 40%);
}

#slider-section span {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

#opacity-slider {
  pointer-events: auto;
  -webkit-appearance: none;
  position: absolute;
  width: 180px;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  background: #F2F1F3;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

#opacity-slider::-webkit-slider-thumb:active{
  background: #8083A2 !important;
}

#opacity-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid #B5B8D0;
  background: #D5D7E4;
  cursor: pointer;
  outline: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* MAP SCENE UI */

#ui-section {
  position: absolute;
  top: -200px;
  width: fit-content;
  max-width: 80vw;

  left: 50%;
  transform: translateX(-50%);

  border-radius: 0px 0px 15px 15px;
  background: white;
  padding: 10px 30px;
  z-index: 1;
}

#ui-section span {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

#ui-section img {
  display: block;
}

#ui-section button {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  
  font-size: 18px;
  font-weight: bold;
  color: white;
}

#ui-section button:active {
  filter: brightness(85%);
}

#ui-section button:disabled {
  opacity: 0.5;
}

#ui-section h3 {
  margin: 0px 0px 8px 0px;
  text-align: center;
}

.slide-up {
  animation: slide-up 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-down {
  animation: slide-down 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-up {
  0% {
    left: 50%;
    transform: translate(-50%, 0px);
  }
  100% {
    left: 50%;
    transform: translate(-50%, 200px);
  }
}

@keyframes slide-down {
  0% {
    left: 50%;
    transform: translate(-50%, 200px);
  }
  100% {
    left: 50%;
    transform: translate(-50%, 0px);
  }
}


/* LOADING SCREEN */

#poweredby {
  width: 35vw;
  max-width: 200px;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
  display: block;
}

.gradient-move { animation: gradient-move 10s linear infinite; }
@keyframes gradient-move {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 100%;
	}
}

#gradient {
  z-index: 9;
  /* add another 100% for each new color,
  always repeat the first two colors in the array*/
  background-size: 400% 400%;
  background-image: linear-gradient(140deg, #7611B6, #563BA4, #3A4AAA, #7611B6, #563BA4);
}

.absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.spinner {
  width: 4rem;
  height: 4rem;
  border-top: 3px solid rgba(255,255,255, .5);
  border-right: 3px solid transparent;
  border-radius: 50%;
  animation: rotation .8s linear infinite;
}

@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.fade-in { animation: fade-in 0.25s linear forwards; }
@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-out { animation: fade-out 0.25s linear forwards; }
@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
